@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@500&display=swap');


@keyframes transition2
{
    from
    {
        opacity: 0;
        transform: rotateZ(10px);
        position:absolute;
        bottom:0%;
        color:gold;
        padding:30px;
        clear: both;
        transition: 5s;
    }
    to
    {
        opacity: 1;
        transform: rotateZ(0px);
    }
}

@keyframes transition3
{
    from
    {
        opacity: 0;
        transform: rotateZ(10px);
        position: absolute;
        right: 5px;
        background-color: yellow;
        box-shadow: gold 2px 2px 1000px;
    }
    to
    {
        opacity: 1;
        transform: rotateZ(0px);
    }
}

.Goodname
{
    animation: transition5 5s 5s;
}

.Hire_me_Button
{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: white 3px 3px;
    position: absolute;
    bottom: 10%;
    right:10%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 100;
    color:white;

    animation: transition3 4s;
    
}

.Resume_Button:hover
{
    background-color: rgba(0, 136, 169, 0.6);
}

.Resume_Button
{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: white 3px 3px;
    position: absolute;
    bottom: 20%;
    right:10%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 100;
    color:white;

    animation: transition3 3s;
    
}

.Hire_me_Button:hover
{
    background-color: rgba(0, 136, 169, 0.6);
}


.Name
{
    position: absolute;
    top: 30%;
    right:45%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color:white;
    
    /*background-color: black;Insert background image*/
    background-repeat: no-repeat; 
    background-size:100%; 
    background-attachment:fixed;

    animation: transition2 3s;
}

.skills
{
    font-size: 25px;
    color: silver;
    border: 3px lightgrey;
    padding: 5px;
    box-shadow: gold 2px 2px 10px;
    /*background-color: rgb(38, 31, 31);*/

    
    /*box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(225, 225, 225, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(5px);*/
}

.skills:hover
{
    box-shadow: gold 2px 2px 50px;
    opacity: 0.8;
    color: yellow;
    font-size: 30px;
    transition: 0.5s;
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 2px; width: 12px;
    border-radius: 10px;
    background: gold;
    box-shadow: white 2px 2px 10px;
    
  }


  .trail2 { /* className for the trail elements */
    position: absolute;
    height: 2px; width: 12px;
    border-radius: 10px;
    background: red;
    box-shadow: gold 2px 2px 10px;
    
  }


  .trail3 { /* className for the trail elements */
    position: absolute;
    height: 2px; width: 12px;
    border-radius: 10px;
    background: rgb(170, 170, 240);
    box-shadow: gold 2px 2px 10px;
    
  }
